.step{color:#fff; font-size: 40px;}

#slide0{background: url("../img1.jpg");
			background-repeat: no-repeat;
			background-size: cover;
}
#slide1{background: url("../img2.jpg");
					background-repeat: no-repeat;
					background-size: cover;
}
#slide2{background: url("../img3.jpg");
					background-repeat: no-repeat;
					background-size: cover;
}
#slide3{background: url("../img2.jpg");
					background-repeat: no-repeat;
					background-size: cover;
}
#slide-1{background: url("../img3.jpg");
					background-repeat: no-repeat;
					background-size: cover;
}
#slide-2{background: url("../img2.jpg");
					background-repeat: no-repeat;
					background-size: cover;
}