@font-face{font-family: cs; src:url("../fonts/cs_regular.ttf");}

html{background-color: #000; }
*{margin:0px; padding:0px;}
.step{color:#fff; font-size: 40px;}
#slide0{background: url("../img1.jpg");
			background-repeat: no-repeat;
			background-size: cover;
}
#slide1{background: url("../imgs/cs_back.png");
					background-repeat: no-repeat;
					background-size: cover;
}
#slide2{background: url("../imgs/nfs_back.jpg");
					background-repeat: no-repeat;
					background-size: cover;
}
#slide3{background: url("../imgs/fifa_back.jpg");
					background-repeat: no-repeat;
					background-size: cover;
}
#slide-1{background: url("../imgs/cod_back.jpg");
					background-repeat: no-repeat;
					background-size: cover;
}
#slide-2{background: url("../img2.jpg");
					background-repeat: no-repeat;
					background-size: cover;
}
#head_text{position: relative; font-size: 75px; color:#fff; font-family: cs; margin:0px auto; display: table;bottom:8%;text-shadow:2px 2px #f00;}
#head_logo{position: relative; margin: 0px auto; width: 550px;}
#head_logo img{width: 100%; height: auto;}
.black_cover{position: absolute; height: 100%; width: 100%; background-color:rgba(0,0,25,0.8); top:0px; }
#header{position: relative; width: 100%; height: 100px; margin:0px auto;}
#srm_logo{float:left; width: 150px; height: auto; margin-left: 30px; margin-top:23px;}
#milan_logo{float: right; width:100px; height: auto; margin-right: 30px; margin-top:40px;} 
#srm_logo img {width: 100%; height:auto;}
#milan_logo img{width: 100%; height:auto;}
.nav_btn{position: relative; width:100px; height: auto;  margin-top: 110px; transition:all 0.5s;}
.nav_btn:hover{margin-top:90px;}

.nav_btn img{width:100%; height: auto; cursor: pointer;}
#prev_btn{float: left; margin-left: -110px;}
#next_btn{float: right; margin-right:-50px;}

#guide{position: fixed; bottom:0px; right:75px; text-align: right;}
#guid_img{width:130px; height:auto; margin-left: auto;}
#guide img{width:100%; height: auto;}
#guide_callout{height:55px; width:180px; background-color: rgba(75,75,75,0.5); font-size: 15px; margin-bottom: 10px; padding:10px;}

#cs_back1{width: 500px; height: auto; position: relative; margin:0px auto; 	:140px;}
#cs_back1 img{width: 100%; height: auto;}

.menu_table{
	width:100%; height: 102%; border-collapse: collapse; border-top-width: 0px; margin-top:-5px; font-family: "arial black";
	/*border-color: #000;*/ /*border-width: 3px;*/
	transform:skew(-25deg);
}
.menu_table td{border-width: 3px; border-top-width: 0px; border-bottom-width: 0px; font-family: "arial black"; overflow: hidden;}
.menu_table td:nth-child(1){width:25%;}
.menu_table td:nth-child(2){width: 37.5%;}
.menu_table td:nth-child(3){width: 37.5%;}
.menu_table ul.menu{list-style-type: none; text-transform: uppercase; font-size: 28px; margin-left: 10px; text-shadow:3px 3px #000;}
.menu_table ul.menu li:hover{cursor: pointer; color:#999;}
.game_name{text-transform: uppercase; font-size: 30px; color:#79fdf3; text-shadow:3px 3px #000; cursor: pointer;}

.menu_table .game_content{font-size: 30px; color:#fff;}
.game_content{margin-left: 5px;}
.game_content ul.description{list-style-type: none;}
.active{display: block;}
.deactive{display: none;}
.content_head{color:#79FDF3;}

/*.menu_table td:nth-child(2){width: 50%;}
.menu_table td:nth-child(3){width: 30%;}*/

